@import "../../App/index.css";

@media (max-width: 480px) {
  .contactContainer {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.contactContainer {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: var(--text);
}

@media (max-width: 480px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
  }
}

.contactContainer p {
  font-size: 14px;
  margin: 1px;
}

.label {
  color: var(--text);
  font-weight: 600;
}

.contactContainer a {
  color: var(--brand);
  font-weight: 600;
  text-decoration: none;
}

h5 {
  color: var(--text);
}
